[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
timeatlas = {editable = true, path = "."}
darts = "==0.6.1"
ipykernel = "*"

[dev-packages]
jupyter = "*"
pycycle = "*"
sphinx = "*"
nbsphinx = "*"
pylint = "*"
jupyter_client = "*"
pydata-sphinx-theme = "*"
recommonmark = "*"
m2r = "*"
