[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
timeatlas = {editable = true,path = "."}
torch = "*"

[dev-packages]
sphinx = "*"
nbsphinx = "*"
pytest = "*"
jupyter = "*"
pylint = "*"
sphinx-rtd-theme = "*"
